!!! 5
%html
  %head
    %title= "Poir/Drop"
  %body
    %div= "maps:"
    - KCConstants.maps.each do |key, value|
      %div
        %a{:href => "/drop/map/#{value}.html"}= value
    %div= "ships:"
    - ships.each do |item|
      %div
        %a{:href => "/drop/ship/#{item}.html"}= item
