%div.container
  %div.page-header
    %h1 掉落统计
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 海域
        %div.panel-body
          %ul.nav.nav-pills
            %li
              %a{:href => "#area1", :"data-toggle" => "tab"} 鎮守府海域
            %li
              %a{:href => "#area2", :"data-toggle" => "tab"} 南西諸島海域
            %li
              %a{:href => "#area3", :"data-toggle" => "tab"} 北方海域
            %li
              %a{:href => "#area4", :"data-toggle" => "tab"} 西方海域
            %li
              %a{:href => "#area5", :"data-toggle" => "tab"} 南方海域
            %li
              %a{:href => "#area6", :"data-toggle" => "tab"} 中部海域
            %li
              %a{:href => "#area36", :"data-toggle" => "tab"} 発令！「艦隊作戦第三法」
            %li
              %a{:href => "#area37", :"data-toggle" => "tab"} 偵察戦力緊急展開！「光」作戦
            %li.active
              %a{:href => "#area38", :"data-toggle" => "tab"} 出撃！北東方面 第五艦隊
          %div.tab-content.top15
            %div#area1.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/11"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner1-1.png"), :alt => "MapBanner1-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/12"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner1-2.png"), :alt => "MapBanner1-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/13"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner1-3.png"), :alt => "MapBanner1-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/14"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner1-4.png"), :alt => "MapBanner1-4.png"}
                %div.row
                  %a{:href => "/drop/map/15"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner1-5.png"), :alt => "MapBanner1-5.png"}
                %div.row
                  %a{:href => "/drop/map/16"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner1-6.png"), :alt => "MapBanner1-6.png"}
            %div#area2.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/21"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner2-1.png"), :alt => "MapBanner2-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/22"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner2-2.png"), :alt => "MapBanner2-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/23"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner2-3.png"), :alt => "MapBanner2-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/24"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner2-4.png"), :alt => "MapBanner2-4.png"}
                %div.row
                  %a{:href => "/drop/map/25"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner2-5.png"), :alt => "MapBanner2-5.png"}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner0-5.png"), :alt => "MapBanner0-5.png"}
            %div#area3.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/31"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner3-1.png"), :alt => "MapBanner3-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/32"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner3-2.png"), :alt => "MapBanner3-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/33"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner3-3.png"), :alt => "MapBanner3-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/34"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner3-4.png"), :alt => "MapBanner3-4.png"}
                %div.row
                  %a{:href => "/drop/map/35"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner3-5.png"), :alt => "MapBanner3-5.png"}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner0-5.png"), :alt => "MapBanner0-5.png"}
            %div#area4.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/41"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner4-1.png"), :alt => "MapBanner4-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/42"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner4-2.png"), :alt => "MapBanner4-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/43"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner4-3.png"), :alt => "MapBanner4-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/44"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner4-4.png"), :alt => "MapBanner4-4.png"}
                %div.row
                  %a{:href => "/drop/map/45"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner4-5.png"), :alt => "MapBanner4-5.png"}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner0-5.png"), :alt => "MapBanner0-5.png"}
            %div#area5.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/51"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner5-1.png"), :alt => "MapBanner5-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/52"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner5-2.png"), :alt => "MapBanner5-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/53"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner5-3.png"), :alt => "MapBanner5-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/54"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner5-4.png"), :alt => "MapBanner5-4.png"}
                %div.row
                  %a{:href => "/drop/map/55"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner5-5.png"), :alt => "MapBanner5-5.png"}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner0-5.png"), :alt => "MapBanner0-5.png"}
            %div#area6.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/61"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner6-1.png"), :alt => "MapBanner6-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/62"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner6-2.png"), :alt => "MapBanner6-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/63"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBanner6-3.png"), :alt => "MapBanner6-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/64"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBanner6-4.png"), :alt => "MapBanner6-4.png"}
                %div.row
                  %a{:href => "/drop/map/65"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner6-5.png"), :alt => "MapBanner6-5.png"}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_file("MapBanner0-5.png"), :alt => "MapBanner0-5.png"}
            %div#area36.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/361/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Autumn2016.png"), :alt => "MapBannerE-1Autumn2016.png"}
                %div.row
                  %a{:href => "/drop/map/362/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Autumn2016.png"), :alt => "MapBannerE-2Autumn2016.png"}
                %div.row
                  %a{:href => "/drop/map/363/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Autumn2016.png"), :alt => "MapBannerE-3Autumn2016.png"}
                %div.row
                  %a{:href => "/drop/map/364/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Autumn2016.png"), :alt => "MapBannerE-4Autumn2016.png"}
                %div.row
                  %a{:href => "/drop/map/365/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Autumn2016.png"), :alt => "MapBannerE-5Autumn2016.png"}
            %div#area37.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/371/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Winter2017.png"), :alt => "MapBannerE-1Winter2017.png"}
                %div.row
                  %a{:href => "/drop/map/372/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Winter2017.png"), :alt => "MapBannerE-2Winter2017.png"}
                %div.row
                  %a{:href => "/drop/map/373/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Winter2017.png"), :alt => "MapBannerE-3Winter2017.png"}
            %div#area38.tab-pane.active
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/381/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Spring2017.png"), :alt => "MapBannerE-1Spring2017.png"}
                %div.row
                  %a{:href => "/drop/map/382/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Spring2017.png"), :alt => "MapBannerE-2Spring2017.png"}
                %div.row
                  %a{:href => "/drop/map/383/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Spring2017.png"), :alt => "MapBannerE-3Spring2017.png"}
                %div.row
                  %a{:href => "/drop/map/384/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Spring2017.png"), :alt => "MapBannerE-4Spring2017.png"}
                %div.row
                  %a{:href => "/drop/map/385/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Spring2017.png"), :alt => "MapBannerE-5Spring2017.png"}
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 舰娘
        %div.panel-body
          - ship_list = JSON.parse(Sinatra::KVDataHelper.get_kv_data("drop_shiplist")).map{|s| ConstData.ship[s]}
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#dd", :"data-toggle" => "tab"} 驱逐
            %li
              %a{:href => "#cl", :"data-toggle" => "tab"} 轻巡、练巡
            %li
              %a{:href => "#ca", :"data-toggle" => "tab"} 重巡
            %li
              %a{:href => "#bb", :"data-toggle" => "tab"} 战舰
            %li
              %a{:href => "#cvl", :"data-toggle" => "tab"} 轻母
            %li
              %a{:href => "#cv", :"data-toggle" => "tab"} 空母
            %li
              %a{:href => "#ss", :"data-toggle" => "tab"} 潜水舰
            %li
              %a{:href => "#others", :"data-toggle" => "tab"} 其他
          %div.tab-content.top15
            %div#dd.tab-pane.active
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 2}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 3 || s["stype"] == 21}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ca.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 5}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#bb.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 8 || s["stype"] == 9}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cvl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 7}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cv.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 11}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ss.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 13 || s["stype"] == 14}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#others.tab-pane
              %ul.list-inline
                - ship_list.select{|s| ![(2..14).to_a, 18, 21].flatten.include?(s["stype"])}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]