%div.container
  %div.page-header
    %h1 掉落统计
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 海域
        %div.panel-body
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#area1", :"data-toggle" => "tab"} 鎮守府海域
            %li
              %a{:href => "#area2", :"data-toggle" => "tab"} 南西諸島海域
            %li
              %a{:href => "#area3", :"data-toggle" => "tab"} 北方海域
            %li
              %a{:href => "#area4", :"data-toggle" => "tab"} 西方海域
            %li
              %a{:href => "#area5", :"data-toggle" => "tab"} 南方海域
            %li
              %a{:href => "#area6", :"data-toggle" => "tab"} 中部海域
            %li
              %a{:href => "#area31", :"data-toggle" => "tab"} 反撃！第二次SN作戦
            %li
              %a{:href => "#area32", :"data-toggle" => "tab"} 突入！海上輸送作戦
            %li
              %a{:href => "#area33", :"data-toggle" => "tab"} 出撃！礼号作戦
            %li
              %a{:href => "#area34", :"data-toggle" => "tab"} 開設！基地航空隊
            %li
              %a{:href => "#area35", :"data-toggle" => "tab"} 迎撃！第二次マレー沖海戦
          %div.tab-content.top15
            %div#area1.tab-pane.active
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/11"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/12"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/13"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/14"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-4.png", size: 250, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/15"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-5.png", size: 500, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/16"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-6.png", size: 500, protocol: "https")}
            %div#area2.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/21"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/22"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/23"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/24"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-4.png", size: 250, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/25"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-5.png", size: 500, protocol: "https")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "https")}
            %div#area3.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/31"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/32"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/33"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/34"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-4.png", size: 250, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/35"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-5.png", size: 500, protocol: "https")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "https")}
            %div#area4.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/41"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/42"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/43"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/44"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-4.png", size: 250, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/45"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-5.png", size: 500, protocol: "https")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "https")}
            %div#area5.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/51"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/52"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/53"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/54"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-4.png", size: 250, protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/55"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-5.png", size: 500, protocol: "https")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "https")}
            %div#area6.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/61"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-1.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/62"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-2.png", size: 250, protocol: "https")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/63"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-3.png", size: 250, protocol: "https")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/64"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-4.png", size: 250, protocol: "https")}
            %div#area31.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/ショートランド沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/ソロモン海.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/南太平洋海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/アイアンボトムサウンド.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/西方海域戦線 カレー洋.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/ソロモン海東部海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-6Summer2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/FS方面海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-7Summer2015.png", protocol: "https")}
            %div#area32.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/ショートランド泊地沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Autumn2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/コロネハイカラ島沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Autumn2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/コロネハイカラ島東方沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Autumn2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/西方海域戦線 ステビア海.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Autumn2015.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/バニラ湾沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Autumn2015.png", protocol: "https")}
            %div#area33.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/331/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Winter2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/332/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Winter2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/333/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Winter2016.png", protocol: "https")}
            %div#area34.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/341/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/342/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/343/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/344/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/345/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/346/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-6Spring2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/347/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-7Spring2016.png", protocol: "https")}
            %div#area35.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/351/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Summer2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/352/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Summer2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/353/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Summer2016.png", protocol: "https")}
                %div.row
                  %a{:href => "/drop/map/354/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Summer2016.png", protocol: "https")}
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 舰娘
        %div.panel-body
          - ship_list = JSON.parse(Sinatra::KVDataHelper.get_kv_data("drop_shiplist")).map{|s| ConstData.ship[s]}.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#dd", :"data-toggle" => "tab"} 駆逐
            %li
              %a{:href => "#cl", :"data-toggle" => "tab"} 軽巡・練巡
            %li
              %a{:href => "#ca", :"data-toggle" => "tab"} 重巡
            %li
              %a{:href => "#bb", :"data-toggle" => "tab"} 戦艦
            %li
              %a{:href => "#cvl", :"data-toggle" => "tab"} 軽空母
            %li
              %a{:href => "#cv", :"data-toggle" => "tab"} 空母
            %li
              %a{:href => "#ss", :"data-toggle" => "tab"} 潜水艦・潜水空母
            %li
              %a{:href => "#others", :"data-toggle" => "tab"} 水母・揚陸艦・工作艦・潜水母艦・補給艦
          %div.tab-content.top15
            %div#dd.tab-pane.active
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 2}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 3 || s["stype"] == 21}.sort{|a, b| a["cnum"] <=> b["cnum"]}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ca.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 5}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#bb.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 8 || s["stype"] == 9}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cvl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 7}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cv.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 11}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ss.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 13 || s["stype"] == 14}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#others.tab-pane
              %ul.list-inline
                - ship_list.select{|s| ![(2..14).to_a, 18, 21].flatten.include?(s["stype"])}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["cnum"] <=> b["cnum"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]