%div.container
  %div.row.row-offcanvas.row-offcanvas-right
    %div.col-xs-12.col-sm-9
      %p.pull-right.visible-xs
        %button.btn.btn-primary.btn-xs{:type => "button", :"data-toggle" => "offcanvas"}
          展开侧边栏
      %ol.breadcrumb
        %li 主页
        %li 掉落
        %li= KanColleConstant.area[area_id][:name]
        %li= KanColleConstant.map[map_id][:name]
      %div.row
        %div.col-xs-12.col-md-4
          %div
            %b 最后更新时间:
          %div#cache-time.text-right
          %div
            %b 查询结果总数:
          %div#query-count.text-right
          %div
            %b 战斗点:
          %ul.nav.nav-pills
            - KanColleConstant.map[map_id][:cells].each do |c|
              %li{:role => "presentation", :class => c[:point] == point_id ? "active" : nil}
                %a{:href => "/drop/map/#{map_id}/#{locals[:level_no].nil? ? '' : "#{level_no}/"}#{c[:point]}-#{rank}.html"}= "#{c[:point]}#{c[:boss] ? " (Boss)" : ""}"
          %div
            %b 评价:
          %ul.nav.nav-pills
            - ['SAB', 'SA', 'S', 'A', 'B'].each do |r|
              %li{:role => "presentation", :class => r == rank ? "active" : nil}
                %a{:href => "/drop/map/#{map_id}/#{locals[:level_no].nil? ? '' : "#{level_no}/"}#{point_id}-#{r}.html"}= r
          - if KanColleConstant.area[area_id][:event]
            %div
              %b 难度:
            %ul.nav.nav-pills
              - ['甲', '乙', '丙'].each_with_index do |l, idx|
                %li{:role => "presentation", :class => idx == 3 - level_no ? "active" : nil}
                  %a{:href => "/drop/map/#{map_id}/#{3 - idx}/#{point_id}-#{rank}.html"}= l
        %div.col-xs-12.col-md-8
          %img.img-responsive{:src => kcwiki_get_thumb(KanColleConstant.map[map_id][:map], size: 600, protocol: "http")}
      %div.row.top10.hidden
        %div#toolbar
        %table.table.table-hover.table-striped{:"data-toolbar" => "#toolbar",
                                               :"data-search" => "true",
                                               :"data-show-columns" => "true",
                                               :"data-show-export" => "true",
                                               :"data-detail-view" => "true",
                                               :"data-detail-formatter" => "detailFormatter"}
          %thead
            %tr
              %th{:"data-field" => "name",
                  :"data-formatter" => "nameFormatter",
                  :"data-switchable" => "false"} 舰娘
              %th{:"data-field" => "type",
                  :"data-sortable" => "true"} 舰种
              %th{:"data-field" => "totalCount",
                  :"data-sortable" => "true"} 数量
              %th{:"data-field" => "sCount",
                  :"data-visible" => rank.length > 1 && rank.include?('S') ? "true" : "false",
                  :"data-sortable" => "true"} S胜
              %th{:"data-field" => "aCount",
                  :"data-visible" => rank.length > 1 && rank.include?('A') ? "true" : "false",
                  :"data-sortable" => "true"} A胜
              %th{:"data-field" => "bCount",
                  :"data-visible" => rank.length > 1 && rank.include?('B') ? "true" : "false",
                  :"data-sortable" => "true"} B胜
              %th{:"data-field" => "hqLvRange"} 提督等级
              %th{:"data-field" => "dropRate",
                  :"data-formatter" => "dropRateFormatter",
                  :"data-sortable" => "true"} 掉落率
      %div.top17.busy-indicator
        %span.glyphicon.glyphicon-refresh.glyphicon-spin
        %span 少女祈祷中...
    %div#sidebar.class.col-xs-6.col-sm-3.sidebar-offcanvas
      %div#accordion.panel-group
        - KanColleConstant.area.each do |a_id, a_obj|
          %div.panel.panel-default
            %div.panel-heading
              %h4.panel-title
                %a{:"data-toggle" => "collapse",
                   :"data-parent" => "#accordion",
                   :href => "#map#{a_id}"}= "#{a_obj[:name]} (#{a_id})"
            %div{:id => "map#{a_id}",
                 :class => "panel-collapse collapse#{area_id == a_id ? ' in' : ''}"}
              %div.list-group
                - KanColleConstant.area[a_id][:maps].each do |m_id|
                  %a{:class => "list-group-item#{map_id == m_id ? ' active' : ''}",
                     :href => "/drop/map/#{m_id}/"}= "#{KanColleConstant.map[m_id][:name]} (#{m_id.to_s.insert(-2, '-')})"
%script{:src => "//static.kcwiki.org/db/scripts/drop/constant.js"}
%script{:src => "//static.kcwiki.org/db/scripts/drop/map.js"}
%script
  :plain
    $(document).ready(function() {
      loadData({id: #{map_id}, point: "#{point_id}", rank: "#{rank}", level: #{locals[:level_no] || 0}});
    });
- if map_id == 404
  =haml :disqus, :locals => { :key => "drop/map/#{map_id}" }
- else
  =haml :changyan, :locals => { :key => "drop/map/#{map_id}" }
