%div.container
  %div.page-header
    %h1 6周年期间限定
  %div.panel.panel-primary
    %div.panel-heading
      %h4.panel-title 秋津洲
    %div.panel-body
      %table.table.table-striped.table-hover{:style => "text-align:center;"}
        %thead
          %tr
            %td 海域点
            %td S胜掉落次数
            %td S胜掉落率
            %td A胜掉落次数
            %td A胜掉落率
        %tbody
          - ship445_data.sort{|a, b| b[1]["s_count"] <=> a[1]["s_count"]}.each do |d|
            %tr
              %td= d[0]
              %td= d[1]["s_count"]
              %td= "#{(d[1]["s_count"] * 100.0 / d[1]["s_total"]).round(3)}%"
              %td= d[1]["a_count"]
              %td= "#{d[1]["a_total"] > 0 ? (d[1]["a_count"] * 100.0 / d[1]["a_total"]).round(3) : 0}%"
  %div.panel.panel-primary
    %div.panel-heading
      %h4.panel-title 哥特兰
    %div.panel-body
      %table.table.table-striped.table-hover{:style => "text-align:center;"}
        %thead
          %tr
            %td 海域点
            %td S胜掉落次数
            %td S胜掉落率
            %td A胜掉落次数
            %td A胜掉落率
        %tbody
          - ship574_data.sort{|a, b| b[1]["s_count"] <=> a[1]["s_count"]}.each do |d|
            %tr
              %td= d[0]
              %td= d[1]["s_count"]
              %td= "#{(d[1]["s_count"] * 100.0 / d[1]["s_total"]).round(3)}%"
              %td= d[1]["a_count"]
              %td= "#{d[1]["a_total"] > 0 ? (d[1]["a_count"] * 100.0 / d[1]["a_total"]).round(3) : 0}%"
  %div.panel.panel-primary
    %div.panel-heading
      %h4.panel-title 塔斯特司令官
    %div.panel-body
      %table.table.table-striped.table-hover{:style => "text-align:center;"}
        %thead
          %tr
            %td 海域点
            %td S胜掉落次数
            %td S胜掉落率
            %td A胜掉落次数
            %td A胜掉落率
        %tbody
          - ship491_data.sort{|a, b| b[1]["s_count"] <=> a[1]["s_count"]}.each do |d|
            %tr
              %td= d[0]
              %td= d[1]["s_count"]
              %td= "#{(d[1]["s_count"] * 100.0 / d[1]["s_total"]).round(3)}%"
              %td= d[1]["a_count"]
              %td= "#{d[1]["a_total"] > 0 ? (d[1]["a_count"] * 100.0 / d[1]["a_total"]).round(3) : 0}%"
  %div.panel.panel-primary
    %div.panel-heading
      %h4.panel-title 瑞穗
    %div.panel-body
      %table.table.table-striped.table-hover{:style => "text-align:center;"}
        %thead
          %tr
            %td 海域点
            %td S胜掉落次数
            %td S胜掉落率
            %td A胜掉落次数
            %td A胜掉落率
        %tbody
          - ship451_data.sort{|a, b| b[1]["s_count"] <=> a[1]["s_count"]}.each do |d|
            %tr
              %td= d[0]
              %td= d[1]["s_count"]
              %td= "#{(d[1]["s_count"] * 100.0 / d[1]["s_total"]).round(3)}%"
              %td= d[1]["a_count"]
              %td= "#{d[1]["a_total"] > 0 ? (d[1]["a_count"] * 100.0 / d[1]["a_total"]).round(3) : 0}%"
  %div.panel.panel-primary
    %div.panel-heading
      %h4.panel-title 神威
    %div.panel-body
      %table.table.table-striped.table-hover{:style => "text-align:center;"}
        %thead
          %tr
            %td 海域点
            %td S胜掉落次数
            %td S胜掉落率
            %td A胜掉落次数
            %td A胜掉落率
        %tbody
          - ship162_data.sort{|a, b| b[1]["s_count"] <=> a[1]["s_count"]}.each do |d|
            %tr
              %td= d[0]
              %td= d[1]["s_count"]
              %td= "#{(d[1]["s_count"] * 100.0 / d[1]["s_total"]).round(3)}%"
              %td= d[1]["a_count"]
              %td= "#{d[1]["a_total"] > 0 ? (d[1]["a_count"] * 100.0 / d[1]["a_total"]).round(3) : 0}%"
=haml :disqus, :locals => { :key => "event-6th-anniv/index" }