%div.container
  %div.page-header
    %h1 活动统计
  %ul.nav.nav-tabs
    %li.active{:role => "presentation"}
      %a{:href => "/event-winter2016/index.html"} 进度
    - (1..3).each do |i|
      %li{:role => "presentation"}
        %a{:href => "/event-winter2016/33#{i}.html"}= "E#{i}"
  %div.panel.panel-default.tab-panel
    %div.panel-body
      %div.pull-right
        %a.btn.btn-default{:href => "http://zh.kcwiki.moe/wiki/2016年冬季活动",
                           :target => "_blank"} 查看百科
      %div
        %div.row
          %div.col-xs-12.col-sm-3.top30
            %div.well.well-lg
              %p= "未通关人数： #{data[:e1][:chosen]}"
              %p= "E1： #{data[:e1][:chosen] - data[:e1][:passed]}"
              %p= "E2： #{data[:e2][:chosen] - data[:e2][:passed]}"
              %p= "E3： #{data[:e3][:chosen] - data[:e3][:passed]}"
          %div.col-xs-12.col-sm-9
            %div#chart.col-xs-12.ct-chart
%script{:defer => "defer"}
  :plain
    var data = {
      labels: ['E1', 'E2', 'E3'],
      series: [#{data[:e1][:chosen] - data[:e1][:passed]},
               #{data[:e2][:chosen] - data[:e2][:passed]},
               #{data[:e3][:chosen] - data[:e3][:passed]}]
    };
    var options = {
      height: 300,
      labelInterpolationFnc: function(value) {
      console.log(value);
        return value[0];
      }
    };
    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 70,
        chartPadding: 20
      }]
    ];
    new Chartist.Pie('#chart', data, options, responsiveOptions);
=haml :duoshuo, :locals => { :key => "event-winter2016/index",
                             :title => "活动统计(2016年冬季活动)",
                             :url => "http://db.kcwiki.moe/event-winter2016/index.html" }
