%div.container
  %div.page-header
    %h1 开发统计
  %div.col-xs-12
    %div.panel-group
      - slotitem_list = JSON.parse(get_kv_data("development_itemlist")).map{|s| ConstData.slotitem[s]}
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 主炮、副炮
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 1}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 鱼雷
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 2}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 舰载机
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 3}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 炮弹、对空机铳
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 4}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 侦察机、电探
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 5}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 爆雷、水听
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| s["type"][0] == 7}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 其他
        %div.panel-body
          %ul.list-inline
            - slotitem_list.select{|s| ![1, 2, 3, 4, 5, 7].include?(s["type"][0])}.sort{|a, b| a["id"] <=> b["id"]}.each do |s|
              %li
                %p
                  %a.btn.btn-default{:href => "/development/item/#{s["id"]}.html"}= s["name"]