%div.container
  %div.page-header
    %h1 建造统计
  %div.col-xs-12
    %div.panel-group
      - ship_list = JSON.parse(get_kv_data("construction_shiplist")).map{|s| ConstData.ship[s]}
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 驱逐
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 2}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 轻巡
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 3}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 重巡
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 5}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 战舰
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 8 || s["stype"] == 9}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 轻母
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 7}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 空母
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 11 || s["stype"] == 18}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 潜水舰
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| s["stype"] == 13 || s["stype"] == 14}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]
      %div.panel.panel-primary.top15
        %div.panel-heading
          %h4.panel-title 其他
        %div.panel-body
          %ul.list-inline
            - ship_list.select{|s| ![(2..14).to_a, 18].flatten.include?(s["stype"])}.group_by{|s| s["ctype"]}.each do |grp, ships|
              - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                %li
                  %p
                    %a.btn.btn-default{:href => "/construction/ship/#{s["id"]}.html"}= s["name"]