%div.container
  %div.page-header
    %h1 活动统计
  %ul.nav.nav-tabs{:role => "tablist"}
    - (1..7).each do |i|
      %li{:role => "presentation"}
        %a{:"aria-controls" => "e#{i}",
           :"data-toggle" => "tabs",
           :href => "#e#{i}",
           :role => "tab"}= "E#{i}"
  %div.tab-content
    %ul.nav.nav-pills{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{:href => "#"} 总
      %li{:role => "presentation"}
        %a{:href => "#"} 甲
      %li{:role => "presentation"}
        %a{:href => "#"} 乙
      %li{:role => "presentation"}
        %a{:href => "#"} 丙
      %li{:role => "presentation"}
        %a{:href => "#"} 咸
    %div.row
      %div.col-xs-12.col-sm-3
        %div.well.well-lg
          %p= "总人数： #{0}"
          %p= "甲级人数： #{0}"
          %p= "乙级人数： #{0}"
          %p= "丙级人数： #{0}"
      %div.col-xs-12.col-sm-9
        %div.ct-chart
%script{:defer => "defer"}
  :plain
    var data = {
      labels: ['Bananas', 'Apples', 'Grapes'],
      series: [20, 15, 40]
    };
    var options = {
      labelInterpolationFnc: function(value) {
        return value[0]
      }
    };
    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 80,
        chartPadding: 20
      }]
    ];
    new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
