%div.container
  %div.page-header
    %h1 活动统计
  %ul.nav.nav-tabs
    %li.active{:role => "presentation"}
      %a{:href => "/event/index.html"} 进度
    - (1..7).each do |i|
      %li{:role => "presentation"}
        %a{:href => "/event/31#{i}.html"}= "E#{i}"
  %div.panel.panel-default.tab-panel
    %div.panel-body
      %div.pull-right
        %a.btn.btn-default{:href => "http://zh.kcwiki.moe/wiki/2015年夏季活动",
                           :target => "_blank"} 查看百科
      %div
        %div.row
          %div.col-xs-12.col-sm-3.top30
            %div.well.well-lg
              %p= "未通关人数： #{data[:e1][:chosen]}"
              %p= "E1： #{data[:e1][:chosen] - data[:e1][:passed]}"
              %p= "E2： #{data[:e2][:chosen] - data[:e2][:passed]}"
              %p= "E3： #{data[:e3][:chosen] - data[:e3][:passed]}"
              %p= "E4： #{data[:e4][:chosen] - data[:e4][:passed]}"
              %p= "E5： #{data[:e5][:chosen] - data[:e5][:passed]}"
              %p= "E6： #{data[:e6][:chosen] - data[:e6][:passed]}"
              %p= "E7： #{data[:e7][:chosen] - data[:e7][:passed]}"
          %div.col-xs-12.col-sm-9
            %div#chart.col-xs-12.ct-chart
%script{:defer => "defer"}
  :plain
    var data = {
      labels: ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7'],
      series: [#{data[:e1][:chosen] - data[:e1][:passed]},
               #{data[:e2][:chosen] - data[:e2][:passed]},
               #{data[:e3][:chosen] - data[:e3][:passed]},
               #{data[:e4][:chosen] - data[:e4][:passed]},
               #{data[:e5][:chosen] - data[:e5][:passed]},
               #{data[:e6][:chosen] - data[:e6][:passed]},
               #{data[:e7][:chosen] - data[:e7][:passed]}]
    };
    var options = {
      height: 300,
      labelInterpolationFnc: function(value) {
      console.log(value);
        return value[0];
      }
    };
    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 70,
        chartPadding: 20
      }]
    ];
    new Chartist.Pie('#chart', data, options, responsiveOptions);
%div.container
  / 多说评论框 start
  %div.ds-thread{:"data-thread-key" => "event/index",
                 :"data-title" => "活动统计",
                 :"data-url" => "http://db.kcwiki.moe/event/index.html"}
  / 多说评论框 end
  / 多说公共JS代码 start (一个网页只需插入一次)
  :javascript
    var duoshuoQuery = {short_name:"poi-db"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
  / 多说公共JS代码 end
